name: Build GameByte

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  # Windows build
  windows-build:
    name: Windows Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure and Build
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build --config Release

      - name: Prepare Artifact
        shell: bash
        run: |
          # Bundling the DLL with the EXE so it actually runs
          cp build/_deps/sdl-build/Release/SDL3.dll build/Release/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GameByte-Windows
          path: build/Release/

  # macOS build
  macos-build:
    name: macOS Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Dependencies
        run: brew install sdl3

      - name: Configure and Build
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GameByte-macOS
          path: |
            build/GameByte